html(lang="en")
  // Defining global variables
  // Use this aread to define any global variables needed in the UI
  - $home = session('home');
  
  //- Defining the headers
  head
    meta(charset="utf-8")
	meta(name="description", content="Stripe Payment test")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(rel="stylesheet", href=session('cssUrl').'stripe_global.css')
	script(src="https://js.stripe.com/v3/")
	script(src=session('appService')."stripe_client.js", defer)
	
	body
		form(id="payment-form")
			.form-row
				#card-element
				p(id="card-error", role="alert")
				
			button(id="submit", data-secret="{$clientSecret}", public-key="{$publicKey}")
				#spinner.spinner.hidden
				span(id="button-text") Pay
			p.result-message.hidden Payment succeeded
