- $ach = strtolower($_ENV['ACH_ACTIVATE']) == 'true'? true : false;
- $environment = strtolower($_ENV['APP_ENV']) != 'production'? 'sandbox' : 'development';
if $ach
    div(class="textcolor0 horizontal-center")
        form(id = "bank-form", button-label = "Pay from bank", method='POST', enctype="multipart/form-data")
			=csrf()
		
		script(src="https://cdn.plaid.com/link/v2/stable/link-initialize.js", data-form-id="bank-form", data-token="{$token}")
        
        script
            . var plaidbutton = document.getElementById('plaid-link-button'); plaidbutton.setAttribute('class', 'btn btn-primary'); plaidbutton.innerHTML = document.getElementById('bank-form').getAttribute('button-label');