if $cryptourl
    div(class="container textcolor0 horizontal-center")
        a(class="btn btn-primary btn-lg", href="{$cryptourl}") Pay with Crypto
        script(src="https://commerce.coinbase.com/v1/checkout.js")