meta(name="description", content=$metadata['description'])/
meta(name="keywords", content=keywords())/
meta(name="author", content=$metadata['creator'])/
meta(name="google-site-verification", content=$metadata['google-site-verification'])/

meta(itemprop="name", content=$metadata['site_name'])/
meta(itemprop="description", content=$metadata['description'])/
meta(itemprop="image", src=$metadata['image'])/

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content=$metadata['site_name'])/
meta(name="twitter:title", content=$metadata['title'])/
meta(name="twitter:description", content=$metadata['description'])/
meta(name="twitter:creator", content=$metadata['creator'])/
meta(name="twitter:image", content =$metadata['image'])/
meta(name="twitter:data1", content=$metadata['amount'] != '' ? $metadata['amount'] : '0.00')/
meta(name="twitter:label1", content="Price")

meta(property="og:title", content=$metadata['title'])/
meta(property="og:type", content="og:product")/
meta(property="og:url", content =$metadata['site_url'])/
meta(property="og:image", content =$metadata['image'])/
meta(property="og:image:width", content="600")/
meta(property="og:image:height", content="317")/
meta(property="og:description", content=$metadata['description'])/
meta(property="og:site_name", content=$metadata['site_name'])/
meta(property="product:availability", content=$metadata['availability'] != '' ? $metadata['availability'] : 'in stock')/
meta(property="product:price:amount", content=$metadata['amount'] != '' ? $metadata['amount'] : '0.00')/
meta(property="product:price:currency", content=$metadata['currency'] != '' ? $metadata['currency'] : trim(localeconv()['int_curr_symbol']))/
meta(property="product:shipping_cost:amount", content=$metadata['shipping_cost'] != '' ? $metadata['shipping_cost'] : '0.00')/
meta(property="product:shipping_cost:currency", content=$metadata['currency'] != '' ? $metadata['currency'] : trim(localeconv()['int_curr_symbol']))/