meta(itemprop="name", content=$metadata['site_name'])/
meta(itemprop="description", content="{$metadata['description']}")/
meta(itemprop="image", content="{$metadata['image']}")/
div(itemprop="offers", itemscope, itemtype="https://schema.org/Offer", class="hide")
    span(itemprop="priceCurrency", content="USD") $ 
    span(itemprop="price")= $metadata['amount']