link(rel='apple-touch-icon', sizes='57x57' href="{$home}public/images/resources/apple-touch-icon-57x57.png")/
link(rel='apple-touch-icon', sizes='72x72' href="{$home}public/images/resources/apple-touch-icon-72x72.png")/
link(rel='apple-touch-icon', sizes='80x80' href="{$home}public/images/resources/apple-touch-icon-80x80.png")/
link(rel='apple-touch-icon', sizes='114x114' href="{$home}public/images/resources/apple-touch-icon-114x114.png")/
link(rel='apple-touch-icon', sizes='144x144' href="{$home}public/images/resources/apple-touch-icon-144x144.png")/
link(rel='apple-touch-icon', sizes='152x152' href="{$home}public/images/resources/apple-touch-icon-152x152.png")/
link(rel='apple-touch-icon', sizes='167x167' href="{$home}public/images/resources/apple-touch-icon-167x167.png")/
link(rel='apple-touch-icon', sizes='180x180' href="{$home}public/images/resources/apple-touch-icon-180x180.png")/