doctype html
html(lang="en")
  // Defining global variables
  // Use this aread to define any global variables needed in the UI
  - $home = session('home');
  - $analytics_id = strtolower(APP_ENV) == 'production'? GOOGLE_ANALYTICS_ID : '';
  
  //- Defining the headers
  head
    block headers
    
  //- Defining the body
  body(id='gesturize', class="color4")
    if $authorized
        block navigation_authorized
    else 
        block navigation_default
    if $metadata
        include ../modules/metadata_body
     
    div(class='shadowCoverTop color0')
    .container
        .shadowContainer
            .radialShadowTop
        block content
        block scripts
    .spacer-2
    if $metadata && $social
        include ../modules/social
    block footer