extends ../default/master/layoutblocks

block content
    form(id='user_new_form', method='POST', enctype="multipart/form-data")
        =csrf()
        div(class='content-section bounded-xlarge')   
            div(class='wrapper width-max-600')
                .spacer-4
                .card(class="dropshadow color0 horizontal-center equally-spaced-1")
                    section(class='main-section horizontal-left color0 maketransparent')
                        if $error
                            include ../default/modules/messaging
                        .spacer-2
                        span(class='normal medium-text textcolor1') Sign up to Caligrafy
                        .spacer-2
                        .form-group
                            label(for='username', class=isset($errors['username']) ? 'textcolor5 error' : 'textcolor5') * username
                            if isset($errors['username'])
                                p(class='error')= $errors['username']
                            input(type='text', name='username', id='username' class='form-control input-default', value=$user->username?? '', required, placeholder='Enter a username', maxlength='100')
                        .spacer-1

                        .form-group
                            label(for='passcode', class=isset($errors['passcode']) ? 'textcolor5 error' : 'textcolor5') * passcode
                            if isset($errors['passcode'])
                                p(class='error')= $errors['passcode']
                            input(type='password', name='passcode', id='passcode' class='form-control input-default', required, placeholder='Enter a passcode', maxlength='20')
                        .spacer-1      

                        .form-group
                            label(for='confirmpasscode', class=isset($errors['passcode']) ? 'textcolor5 error' : 'textcolor5') * confirm passcode
                            if isset($errors['passcode'])
                                p(class='error')= $errors['passcode']
                            input(type='password', name='confirmpasscode', id='confirmpasscode' class='form-control input-default', required, placeholder='Confirm your passcode', maxlength='20')
                        .spacer-1     

                        .spacer-2

                        input(class='btn btn-primary btn-md btn-block', type='submit' value='Sign up')
                        .spacer-2


                .card(class="horizontal-center color0 equally-spaced-1 dropshadow")
                    p(class="medium-text") Have an account?
                    a(href="{$home}login", class='btn btn-default input-size-150') Sign in
        .spacer-3